{{#each this}}
    <div class="card-title">
        <img src="{{flags.svg}}" alt="flag of {{fifa}}" class="card-image">
        <h2 class="card-name">{{name.official}}</h2>
    </div>
    <ul class="card-description">
        <li class="card-description__item">Capital: {{capital}}</li>
        <li class="card-description__item">Population: {{population}}</li>
        {{#each languages}}
        <li class="card-description__item">Languages: {{this}}</li>
        {{/each}}
    </ul>
{{/each}}